:root {
    --modal-default-border: #000;
    --modal-bg-color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 8000;
    padding: 30px 0;

    &__inner {
        flex: 1 0 auto;
        width: 100%;
        min-height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__window {
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 100%;
        z-index: 9000;
        padding: 30px 30px 70px;
    }

    &__shadow {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        opacity: 0.6;
        background-color: black;
    }

    &__button {
        border: 1px solid var(--modal-default-border);
        border-radius: 5px;
        width: 200px;
        padding: 14px;
        font-size: 16px;
    }
}

.modal--opened {
    display: flex;
}
