:root {
    --dark-bg-color: #4a545a;
    --dark2-bg-color: #5c2e44;
    --light-text-color: #fff;
}

.layout-container {
    display: flex;
    align-items: center;
    height: 100%;
    height: auto;
    height: 100vh;
}

.form-wrapper {
    border-radius: 20px;
}

.auth-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__header {
        display: flex;
        justify-content: center;
    }

    &__form {
        width: 690px;
        padding: 50px;
        position: relative;
        padding-bottom: 110px;
    }

    &__form--main-bg {
        background: var(--dark-bg-color);
    }
}

.form-container {
    max-width: 380px;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__footer {
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0;
        border-radius: 0 0 10px 10px;
        color: var(--light-text-color);
        display: flex;
        align-items: center;
    }

    &__footer--bg-dark2 {
        background-color: var(--dark2-bg-color);
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-right: 10px;
    }

    &__error {
        color: red;
    }
}

.form__check {
    margin: 10px 0 20px;
}

.policy-check {
    display: flex;

    &__input {
        margin-right: 10px;
    }

    &__label {
        color: var(--light-text-color);
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}

.form-header {
    margin-bottom: 30px;

    &__title {
        color: var(--light-text-color);
        font-weight: 400;
        font-size: 48px;
    }
}

.btn--submit-style {
    background-color: var(--btn-bg-submit-color);
    color: var(--light-text-color);
}

.form-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__forgot-password {
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
    }
}
