@import '../../../elements/person/name/name.css';
@import '../../../elements/message/preview/preview.css';
.chat-preview {
	display: flex;
	align-items: center;
	padding: 20px 16px;
	cursor: pointer;
	height: 100px;
	overflow: hidden;
	max-width: 460px;

	&__avatar {
		margin-right: 16px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		min-width: 0;
	}
	&__title, &__message {
		display: flex;
		height: 27px;
	}
	&__title .person-name, &__message .last-message {
		flex-grow: 1;
	}
	&__message .message-preview {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #747474;
	}
}
.chat-preview-info {
	min-width: 30px;
	margin-left: 8px;
}