:root {
    --bg-main: #7d6e6e;
}

.chat-page {
    display: flex;
    align-items: flex-start;
    height: 100%;
    min-height: 100%;

    &__dialog {
        height: 100%;
        min-height: 100%;
        width: 100%;
    }

}
.button-image {
    cursor: pointer;
}
.full-page {
    height: 100vh;
}

.nav-sidebar {
    width: 100%;
    max-width: 120px;
    height: 100%;
}

.nav-sidebar__inner {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    height: 100%;
}

.nav-sidebar--bg-main {
    background-color: var(--bg-main);
}
