:root {
    --error-page-bg-color: #d1d0d0;
    --text-error-stroke: #000;
}

.error-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--error-page-bg-color);
    overflow: hidden;
    position: relative;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text--error-style {
        font-size: 80vh;
        line-height: 1.3;
        mix-blend-mode: soft-light;
        -webkit-text-stroke: 24px var(--text-error-stroke);
        backdrop-filter: blur(2px);
        transform: rotate(-28deg);
    }

    &__return {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
