:root {
	--error-page-bg-color: #D1D0D0;
}

.error-page {
	width: 100vw;
	height: 100vh;
	background-color: var(--error-page-bg-color);
	overflow: hidden;

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text--error-style {
		font-size: 80vh;
		line-height: 1.3;
		mix-blend-mode: soft-light;
		-webkit-text-stroke: 24px #000000;
		backdrop-filter: blur(2px);
		transform: rotate(-28deg);
	}
}
