@import './chat-item/chat-item.css';

:root {
	--chat-item-hover-bg-color: rgb(255, 246, 254);
	--chat-item-active-bg-color: rgb(255, 228, 251);
}

.chat-list__item:hover {
	background-color: var(--chat-item-hover-bg-color);
}

.chat-list__item--active {
	background-color: var(--chat-item-active-bg-color);
}
