:root {
    --default-border: #000;
    --person-data-form-border: rgb(175 175 175);
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        border: 1px solid var(--default-border);
        border-radius: 20px;
    }

    &__form {
        display: none;
    }

    &__avatar {
        margin-bottom: 20px;
    }

    &__view--hidden {
        display: none;
    }

    &__form--opened {
        display: flex;
    }
}

.day-title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 26px;
}

.person-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.person-data__item + .person-data__item {
    margin-top: 16px;
}

.person-data-form {
    flex-direction: column;

    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
    }

    &__person-data {
        margin-bottom: 16px;
    }

    &__item {
        border: 1px solid var(--person-data-form-border);
    }

    &__submit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.privacy-data-form {
    margin-bottom: 16px;

    &__item {
        border: 1px solid var(--person-data-form-border);
    }
}
