:root {
    --link-color-standart: #aaf;
    --btn-bg-submit-color: #6850f8;
    --hr-border-bottom-color: #888686;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

.link--standart {
    text-decoration: underline;
    color: var(--link-color-standart);
}

.hr-bottom::after {
    content: '';
    display: block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid var(--hr-border-bottom-color);
}
