.right-sidebar {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-width: 400px;
    transition: width 0.3s ease;

    &__inner {
        margin: 0 auto;
        max-width: 60%;
    }

    &--opened {
        display: block;
        width: 100%;
    }
}

.chat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }

    &__control {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    &__control-item {
        margin: 5px 0;
    }
}

.button-text:hover {
    text-decoration: underline;
}
