:root {
    --message-status-received: #51b050;
    --message-status-readed: green;
}

.dialog-window {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;

    &__inner {
        height: 100%;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__header {
        flex: 0;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
		overflow: hidden;
    }

    &__controls {
        width: 100%;
    }
}

.dialog-window__body--bg-dialog {
    background-color: rgb(100 110 85);
}

.dialog-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__profile {
        flex: 1 0 auto;
        height: 100px;
        padding: 20px 16px;
    }

    &__control {
        padding: 20px 16px;
    }
}

.hr-left {
    border-left: 1px solid #888686;
}

.profile-info {
    display: flex;
    flex-direction: row;
}

.profile-info__avatar {
    margin-right: 16px;
}

.message-send {
    width: 100%;
    padding: 16px 20px;
}

.send-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__input-group {
        flex-grow: 1;
    }
}

.dialog-scrollable-content {
    padding-bottom: 20px;
	overflow-y: auto;
}

.bubbles-day-section {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bubbles-group {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.sending-status {
    width: 12px;
}

.received {
    right: 5px;
    fill: var(--message-status-received);
}

.readed {
    right: 1;
    width: 16px;
    fill: var(--message-status-readed);
}

.time {
    display: inline-block;

    &__inner {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 10px;
    }

    &__inner--font-size-s {
        font-weight: 400;
        font-size: 14px;
    }

    &__inner--font-style-italic {
        font-style: italic;
    }
}

.bubble-out {
    flex-direction: row-reverse;
}

.bubble-in .bubble__inner {
    background-color: #fff;
}

.bubble-out .time__inner {
    padding-right: 20px;
}

.bubble-out .bubble__inner {
    background-color: rgb(247 216 177);
}
