:root {
    --message-status-received: #51b050;
    --message-status-readed: green;
    --dialog-window-bg-color: rgb(100 110 85);
    --hr-color: #888686;
    --send-form-shadow: rgb(0 0 0 / 6%);
    --send-input-placeholder: #a2acb4;
    --incoming-message-bg-color: #fff;
    --outgoing-message-bg-color: rgb(247 216 177);
}

.dialog-window {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;

    &__inner {
        height: 100%;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__header {
        flex: 0;
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
    }

    &__controls {
        width: 100%;
    }
}

.dialog-window__body--bg-dialog {
    background-color: var(--dialog-window-bg-color);
}

.dialog-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__profile {
        flex: 1 0 auto;
        height: 100px;
        padding: 20px 16px;
    }

    &__control {
        padding: 20px 16px;
    }
}

.hr-left {
    border-left: 1px solid var(--hr-color);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info__control {
    flex-direction: column;
    padding: 5px;
    display: flex;
    font-size: 14px;
}

.dialog-window__chat-info {
    display: flex;
}

.message-send {
    width: 100%;
    padding: 16px 20px;
}

.send-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__input-group {
        flex-grow: 1;
    }

    &__submit {
        padding: 5px 15px;
    }

    &__wrapper {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        display: flex;
        width: 100%;
    }
}

.send-form-input {
    &__input {
        width: 100%;
        resize: vertical;
        padding: 15px;
        border-radius: 15px;
        border: 0;
        box-shadow: 4px 4px 10px var(--send-form-shadow);
        height: 50px;
    }

    &__input::before {
        color: var(--send-input-placeholder);
        content: attr(data-placeholder);
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    &__input:empty::before {
        opacity: 1;
    }
}

.fake-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.dialog-scrollable-content {
    padding-bottom: 20px;
    display: block;
    position: absolute;
    left: 0;
    right: 7px;
    bottom: 0;
}

.scroll-y {
    position: relative;
    overflow-y: scroll;
}

.scroll-theme {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.scroll-theme:hover {
    scrollbar-color: var(--scrollbar-color) transparent;
}

.bubbles-day-section {
    max-width: 100%;
    margin: 0 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.bubbles-group {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.sending-status {
    width: 12px;
}

.received {
    right: 5px;
    fill: var(--message-status-received);
}

.readed {
    right: 1;
    width: 16px;
    fill: var(--message-status-readed);
}

.time {
    display: inline-block;

    &__inner {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 10px;
    }

    &__inner--font-size-s {
        font-weight: 400;
        font-size: 14px;
    }

    &__inner--font-style-italic {
        font-style: italic;
    }
}

.bubble-out {
    flex-direction: row-reverse;
}

.bubble-in .bubble__inner {
    background-color: var(--incoming-message-bg-color);
}

.bubble-out .time__inner {
    padding-right: 20px;
}

.bubble-out .bubble__inner {
    background-color: var(--outgoing-message-bg-color);
}
