.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;

    &__img-wrapper {
        display: flex;
        align-items: flex-start;
		width:100%;
		height:100%;
    }

    &__img {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
